<div class="container" style='z-index:+1;background:rgb(142, 214, 142);'>
<h1 mat-dialog-title>Request Status</h1>

</p>
<div mat-dialog-content>
    <p *ngIf="data.dateUpdated">The Request has been Submitted Successfully</p>
    <p *ngIf="!data.dateUpdated">The Request Date is same as previous request, so It is not submitted</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->