<div class="container" style='background:rgb(84, 177, 84);margin-bottom: 1%'>
  <form (submit)="onSubmit()" #pciForm1="ngForm" action="post" class='form-horizontal'>
    <fieldset id="group1" >
    <div class="panel panel-default grid">  
       <div class="panel-heading" style='background: rgb(176, 211, 176)'>Group1</div> 
            
        <div class="form-group panel-body" >
          <label for="dealerInput" class=" col-form-label col-lg-4">Dealer</label>      
          <input type="text" id="dealerInput" name="dealer" class="col-lg-3 input-sm" 
           required [(ngModel)]="pciFormData.dealer" #dealer="ngModel" />

           <div *ngIf="dealer.invalid && (dealer.dirty || dealer.touched)" class="alert alert-danger">
            <div *ngIf="dealer.errors.required">
              <p class="label">Dealer is required.<p>
            </div>
          </div>
        </div>
    <div class="form-group panel-body">
          <label for="zoneInput" class="col-form-label col-lg-4 ">Zone</label>
          <input type="text" id="zoneInput" name="zone" class="col-xs-8  input-sm" 
          pattern=^[a-zA-Z0-9]+((,)[a-zA-Z0-9]+)*[a-zA-Z0-9]+$
          [(ngModel)]="pciFormData.zone" #zone="ngModel" />

         <div *ngIf="zone.invalid && (zone.dirty || zone.touched)" class="alert alert-danger">
            <div *ngIf="zone.errors.pattern"> 
              Zone not valid.
            </div>	
          </div>          
      </div>
      <div class="form-group ">
          <label for="yearInput" class="col-form-label col-lg-4">Year</label>

          <input id="year" name="year" class="col-xs-8 input-sm" 
          required [(ngModel)]="pciFormData.year" #year="ngModel" />
        
        <div *ngIf="year.invalid && (year.dirty || year.touched)" class="alert alert-danger">
          <div *ngIf="year.errors.required">
            Year is required.
          </div>
        </div>
        </div>
    </div>      
    </fieldset>

    <fieldset id="group2">  
        <div class="panel-heading" style='background: darkseagreen'>Group2</div> 

    <div class="form-group grid">
      <div >
            <label class="col-form-label col-lg-4">Other Attributes</label>
                <input type="radio" class="form-group-input" name="attributes1" 
                [(ngModel)]="pciFormData.type" value="crop">            
                <label  class="col-form-label col-lg-2">Crop</label> 
                <input type="text" name="crop" id="cropInput" class="col-sm-1 input-sm" 
                [required]="pciFormData.type==='crop'" [(ngModel)]="pciFormData.crop" #crop="ngModel" />
                
                <div *ngIf="pciFormData.type==='crop' && crop.invalid && (crop.dirty || crop.touched)" class="alert alert-danger">
                  <div *ngIf="crop.errors.required">
                    Crop and Hybrid/Varierty both are required.
                  </div>
                </div>                

        </div>

            <div >                      
              <label class="col-form-label col-lg-2" style="margin-left: 35.5%">Hybrid/Variety</label>
              <input type="text" name="hybrid" id="hybridInput" class="input-sm" 
              [required]="pciFormData.type==='crop'" [(ngModel)]="pciFormData.hybrid" #hybrid="ngModel"/>

              <div *ngIf="pciFormData.type==='crop' && hybrid.invalid && (hybrid.dirty || hybrid.touched)" class="alert alert-danger">
                <div *ngIf="hybrid.errors.required">
                  Crop and Hybrid/Varierty both are required.
                </div>
              </div>                
            
            </div>
          
          <div >          
            <input type="radio" class="form-group-input input-sm" style="margin-left: 34%" name="attributes1"
            [(ngModel)]="pciFormData.type" value="material">            
            <label class="col-form-label col-lg-2">Material Id</label>
            <input type="text" id="materialInput" name="material" class="input-sm"
            [(ngModel)]="pciFormData.material" #material="ngModel"/>
          </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Price Change Date</label>
        <label for="priceChangeFromInput" class="col-1 col-form-label">From</label> 
        <input type="date" name="priceChangeFrom" id="priceChangeFromInput" class="input-sm" 
        [(ngModel)]="pciFormData.priceChangeFrom" #priceChangeFrom="ngModel"/>

        <label for="priceChangeToInput" class="col-1 col-form-label">To</label>         
        <input type="date" name="priceChangeTo" id="priceChangeToInput" class="input-sm" 
        [(ngModel)]="pciFormData.priceChangeTo" #priceChangeTo="ngModel"/>
    </div>
    </fieldset>
    <div align="center">    
    <input type="submit" value="Submit" class="btn btn-default" [disabled]="!pciForm1.form.valid" 
    style="margin-bottom:10px"/>
  </div>
  </form>  
</div>
